
.sidebar{
    display: block;
    position: fixed;
    z-index: 5;
    left: 100%;
    background: white;
    height: 100%;
    width: 30%;
}
.sidebar p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    text-indent: 20px;    

}
.ding{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}
@keyframes sidein {
    100%{
        left: 70%;
    }
}
@keyframes sideout {
    0%{
        left: 70%;
    }
    100%{
        left: 100%;
    }
}
@keyframes layin {
    0%{
        opacity: 0;
        position: fixed;
        z-index: 0;
    }
    1%{
        opacity: 0;
        position: fixed;
        z-index: 4;
    }
    100%{
        opacity: 0.4;
        position: fixed;
        z-index: 4;
    }
}
@keyframes layout {
    0%{
        opacity: 0.4;
        position: fixed;
        z-index: 4;
    }
    99%{
        opacity: 0;
        position: fixed;
        z-index: 4;
    }
    100%{
        opacity: 0;
        position: fixed;
        z-index: 0;
    }
}
.overlay{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
}
.menuarr{
    height: 38px;
    width: auto;
    border: 2px solid transparent;
    border-radius: 15%;
    margin: 20px 0 0 20px;
}
.menuarr:hover{
    border: 2px solid gray;
}
.header{
    background: white;
    position: relative;
    top: 0;
    padding: 20px 50px 20px 75px;
    justify-content: end;
    box-shadow: 0 0px 10px gray;
    z-index: 2;
}
.container{
    display: flex;
    grid-gap: 25px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
.logo{
    height: 60px;
    width: auto;
    
}
.aa{
    display: flex;
    grid-gap: 5px;
    width: 450px;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-weight: bold ;
    margin-right: auto;
    text-decoration: none;

}
.tn{
    font-size: 18px;
    color: gray;
    vertical-align: text-top;
    font-weight: normal;

}
.menuicon{
    height: 38px;
    width: auto;
    border: transparent solid 2px;
    border-radius: 15%;

}
.menuicon:hover{
    border: gray  solid 2px;
}
.slide{
    position: relative;
    height: 400px;
    z-index: 1;
}
.slideimg{
    width: 100%;
    transform: translate(0,-15%);
}

.slideb{
    display: flex;
    position: absolute;
    align-items: center;
    grid-column-gap: 20px;
    left: 50%;
    top: auto;
    bottom: 5%;
    transform: translate(-50%,0);
    z-index: 3;
    
}
.backtri {
    height: 0;
    width: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid white;
}
.tri {
    height: 0;
    width: 0;
    border-top: 6px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 8px solid transparent;
}
#backtri{
    border-right: 6px solid white;
}
#nexttri{
    border-left: 6px solid white;
}
#nexttri:hover{
    border-left: 6px solid rgb(31, 247, 204);
}
#backtri:hover{
    border-right: 6px solid rgb(31, 247, 204);
}
.b {
    box-shadow: 0px 0px 10px black;
    background-color: white;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}
.intro{
    position: relative;
    background: white;
    z-index: 2;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    padding: 3% 8% 0 8%;
}
.start{
    margin: 4% 0 6% 0;
}
hr{
    left: 50%;
    width: 25%;
    position: relative;
    color: black;
    z-index: 1;
    transform: translate(-50%,17px);
}
.start h3{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: fit-content;
    padding: 0 10px 0 10px;
    background: white;
    z-index: 2;
}
.container_sq{
    display: flex;
    grid-gap: 20px;
    justify-content: center;

    object-fit: cover;
}
.item_sq{
    
    display: flex;
    overflow: hidden;
    height: auto;
    width: 100%;
    background-color: white;
    background-size: cover;
    border: solid 2px white;
}
.a{
    display: flex;
    text-decoration: none;
    text-orientation: sideways;


    display: flex;
    overflow: hidden;
    height: 300px;
    width: 100%;
    background-color: white;
    background-size: cover;
    border: solid 2px white;
}
@property --b {
    syntax: '<color>';
    inherits: True;
    initial-value: rgba(255, 0, 0, 0);
  }
@property --p {
    syntax: '<percentage>';
    inherits: True;
    initial-value: 60%;
}
.goo{
    transition:--b 0.5s,--p 0.5s;
    background: linear-gradient(240deg, var(--b) 0%,rgba(1,2,44,1) var(--p));
    display: flex;
    position: relative;
    width: 100%;
    top: 80%;
}

.sq_text{
    position: relative;
    padding: 3%;
    z-index: 4;
    font-size: 30px;
    width: 100%;
    height: 20%;
    text-align: start;
    color: whitesmoke;
    
}
.rleft{
    position: relative;
    background-color: rgba(1,2,44,1);
    height: 20%;
    width: fit-content;
}
.rleft, .sq_text{
    transform: translate(-60px,0);
}   
.item_sq:hover {
    --b: rgba(1,2,44,1);
    --p: 0%;
}
/* .item_sq:hover .rleft, .sq{
    animation: slide 0.5s ease-out forwards;
}
.item_sq:hover .sq_text{
    animation: slide 0.5s ease-out forwards;
}  */
@keyframes slide {
    0%{
        transform: translate(-60px,0);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes reslide {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-60px,0);
    }
    
}


#item_sq1 {
    background: url(./photos/eagle.jpg); 
    background-size: cover;
    background-position-y: 0%;
}
#item_sq2{
    background: url(./photos/ed.jpg); 
    background-size: cover;
    background-position-y: 40%;
}
#item_sq3{
    background: url(./photos/care.jfif); 
    background-size: cover;
    background-position: 35%;
}
.footer{
    background: whitesmoke;
    text-align: center;
    margin-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100px;
    padding-top: 4%;
}
#p1{
    font-size: 30px;
    color: black;
}
#p2 {
    font-size: 15px;
    color: gray;
}

body{
    background: white;
}
* {    
    margin: 0 ;
    padding: 0 ;
}






